[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
black = "*"
pipenv-setup = "*"
versioneer = "*"

[packages]
env-flag = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
